<!DOCTYPE html>
<html>
  <head>
    <title>100 Most Frequently Occurring Words from Moby Dick</title>
  </head>
  <body>
    <h2>100 Most Frequently Occurring Words from Moby Dick</h2>
    <h3>Words in list: <%= @words.count %></h3>
    <% @words.each do |word| %>
      <p><%= word %></p>
    <% end %>
  </body>
</html>
